extends layout

block content
  h1 Odd Jobs
  p Welcome to Odd Jobs!
  div(ng-controller="HomeCtrl")
    p The following badasses have provided this sweet ass website for y'all.
    ul
      li(ng-repeat="author in authors") {{author}}
