extends layout

block content
  div(ng-controller="JobDetailCtrl")
  .container
    h1 {{job.title}}
    br

    form(ng-hide='{{user}} && {{job.creator}} == {{user}} && {{job.isOpen}}',
          action='/jobs/delete', method='post')
      input(type='hidden', name='id', value='{{job._id}}')
      button.btn.btn-danger(type='submit') Delete Job
