nav.navbar.navbar-default.navbar-static-top
  div(class='container')
    ul.nav.navbar-nav
      li
        a(href='/')
          span.glyphicon.glyphicon-home
          |  Home
      li
        a(href='/jobs')
          span.glyphicon.glyphicon-wrench
          |  Jobs
      li
        a(href='/jobs/create')
          span.glyphicon.glyphicon-bullhorn
          |  Create a Job
    ul.nav.navbar-nav.navbar-right
      li(ng-show='!loggedIn')
        a(href='/login')
          span.glyphicon.glyphicon-user
          |  Login
      li(ng-show='!loggedIn')
        a(href='/register')
          span.glyphicon.glyphicon-globe
          |  Register
      li(ng-show='loggedIn')
        a(href='/logout')
          span.glyphicon.glyphicon-user
          |  Logout
